
<div class="container">
  <!-- MAIN TITLE -->
  <h1 class="title"><span class="fa fa-sun"></span>{{ title }}</h1>
  <!-- // MAIN TITLE -->

  <!-- CARD -->
  <div class="card" *ngIf="card">
    <div class="flex justify-space-between margin-10">
      <p class="city-selected bold">{{city.LocalizedName}}, {{city.AdministrativeArea.ID}} - {{city.Country.LocalizedName}}</p>
      <span class="card-icons fa fa-times" (click)="card=0;city=0"></span>
    </div>
    <h2 class="weatherforecast-now bold">{{card.DailyForecasts[0].Temperature.Minimum.Value}}°C {{card.DailyForecasts[0].Day.IconPhrase}}</h2>
    <div class="flex margin10 mobile-column">
      <div class="min-max-card bold flex">
        <div class="minimum-temperature">
          <span class="card-icons fa fa-arrow-up"></span>
          <span class="min-temp">{{parseTemperature(card.DailyForecasts[0].Temperature.Minimum.Value)}}°</span>
        </div>
        <div class="maximum-temperature">
          <span class="card-icons fa fa-arrow-down"></span>
          <span class="max-temp">{{parseTemperature(card.DailyForecasts[0].Temperature.Maximum.Value)}}°</span>
        </div>
      </div>
      <div class="forecast-rain">
        <span class="text-card">Chuva</span>
        <span class="result-card">{{card.DailyForecasts[0].Day.Rain.Value}}{{card.DailyForecasts[0].Day.Rain.Unit}}</span>
      </div>
    </div>
    <div class="flex margin10 mobile-column">
      <div class="forecast-wind">
        <span class="text-card">Vento</span>
        <span class="result-card">{{card.DailyForecasts[0].Day.Wind.Speed.Value}}{{card.DailyForecasts[0].Day.Wind.Speed.Unit}}</span>
      </div>
      <div class="forecast-direction-wind">
        <span class="text-card">Direção</span>
        <span class="result-card">{{card.DailyForecasts[0].Day.Wind.Direction.Localized}}</span>
      </div>
    </div>
    <hr class="margin-10">
    <div class="forecast-week flex mobile-column">
      <div class="forecast-day" *ngFor="let day of card.DailyForecasts">
        <span class="text-day-week">{{getDay(day.Date)}}</span>
        <span class="min-max-week">{{parseTemperature(day.Temperature.Minimum.Value)}}° {{parseTemperature(day.Temperature.Maximum.Value)}}°</span>
      </div>
    </div>
  </div>
  
  <!-- // CARD -->

  <!-- SEARCH CITY -->
  <form class="search-city flex">
    <input type="text" name="search" #search placeholder="Insira o nome da cidade">
    <button 
    (click)="getCity(search.value)"  
    class="button-search"
    type="submit">
      <span class="fa fa-input"> &#xf002;</span>
    </button>
  </form>
  <!-- // SEARCH CITY -->
</div>
<hr>
<div class="container">
  <!-- CAPITAL FORECAST -->
  <div class="capital-forecast">
    <h3 class="title"><span class="fa fa-cloud"></span>Capitais</h3>
    <div class="flex mobile-column">

      <!-- BOX 1 MINMAX TEMPERATURE CAPITAL -->
      <div class="box-min-max-capital">
        <div>
          <div class="box-min-max-header">
            <span class="text-min-max-capital bold">Mín</span>
            <span class="text-min-max-capital bold">Máx</span>
          </div>
          <div class="box-min-max-header">
            <span class="text-min-max-capital bold">Mín</span>
            <span class="text-min-max-capital bold">Máx</span>
          </div>
        </div>
        <div>
          <div class="forecast-capital" *ngFor="let city of cities">
            <span class="text-min-max-capital">{{city.min}}°</span>
            <span class="text-min-max-capital">{{city.max}}°</span>
            <span class="text-capital-name">{{city.city}}</span>
          </div>
        </div>
      </div>
      <!-- // BOX 1 MINMAX TEMPERATURE CAPITAL -->

    </div>
  </div>
  <!-- // CAPITAL FORECAST -->
</div>