
/* TITLES ///////////////// */

.title {
	color: #f4f4f4;
	font-weight: 400;
}

h1.title {
	font-size: 2em;
	text-align: center;
}

h3.title {
	font-size: 1.5em;
	margin: 0;
}

/* CARD ///////////////////////////*/

.card {
	background: linear-gradient(120deg, #ECECEC, #F4F4F4); 
	padding: 20px 30px;
	margin: 15px 0;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 37, 59, 0.24), 0px 0px 4px rgba(0, 37, 59, 0.12);
}

.margin-10 {
	margin: 0 -10px;
}

.margin10 {
	margin: 10px 0;
}

.city-selected {
	font-size: .875em;
}

.fa-times {
	font-size: .875em;
	cursor: pointer;
}

.card-icons {
	color: #33BBFF;
	padding-right: 5px;
}

.forecast-capital, .box-min-max-header {
	width: 50%;
	height: 30px;
	float: left;
}


.weatherforecast-now {
	font-size: 1.5em;
	opacity: .75;
	margin: 10px 0 20px 0;
}

.min-max-card {
	width: 150px;
}

.forecast-wind {
	width: 150px;
}

.forecast-wind .text-card {
	width: auto;
}

.minimum-temperature {
	padding-right: 15px;
}

.text-card {
	display: inline-block;
	font-weight: 200;
	padding-right: 15px;
	width: 70px;
}

.result-card { 
	width: auto; 
	display: inline-block; 
}

.card hr {
	border-top: 2px solid #33BBFF;
}

.forecast-week {
	margin-top: 10px;
}

.forecast-day {
	width: 90px;
	text-align: center;
}

.forecast-day:last-of-type {
	margin-right: 0;
}

.text-day-week {
	display: block;
	margin-bottom: 5px;
}

.min-max-week {
	color: #33BBFF;
	font-weight: bold;
}

/* SEARCH CITY ///////////////////*/
.search-city {
	background: #F4F4F4;
	width: 100%;
	padding: 10px 30px;
	border-radius: 10px;
	margin-top: 30px;
}

.search-city input {
	width: calc(100% - 30px);
}

.fa-input {
	font-size: 1.375em;
	opacity: .9;
	cursor: pointer;
	color: #004466;
}

/* CAPITAL FORECAST ////////////////////*/
.capital-forecast {
	max-width: 370px;
	margin: 0 auto;
}

.fa-cloud, .fa-sun {
	font-size: 1.375em;
	margin-right: -10px;
	color: #004466;
}

.box-min-max-capital {
	font-size: .875em;
	margin: 20px 40px 20px 0;
}

.box-min-max-capital:last-of-type {
	margin-right: 0;
}

.text-min-max-capital {
	width: 32px;
	display: inline-block;
	padding: 5px 0;
}

.text-min-max-capital:first-of-type::after {
	content: '|';
	display: inline-block;
	padding-left: 3px;
}