/* RESET //////////////////////////////// */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700&display=swap');
body, h1, h2, p, ul, li, a {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
	font-size: 1em;
	font-weight: normal;
}

button, input[type="text"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

hr {
	border:0;
	border-top:1px solid #555;
	margin:0;
	height:1px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* GENERAL SETTINGS /////////////////// */

html, body {
   min-height: 100%;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: #111111;
	background: linear-gradient(180deg, #0077BB 26%, #00BBCC 100%);
}

img {
	display: block;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

.container {
	min-width: 340px;
	max-width: 520px;	
	width: 100%;
	margin: 0 auto;
	padding: 15px 30px 30px 30px;
}

body hr {
	max-width: 560px;
	margin: 0 auto;
	border-color: #f4f4f4;
}

.bold {
	font-weight: bold;
}

.flex {
	display: flex;
	flex-direction: row;
}

.wrap {
	flex-wrap: wrap;
}

.justify-space-between {
	justify-content: space-between;
}

@media (max-width: 470px) {
	.forecast-capital, .box-min-max-header {
		width: 100% !important;
		float: none !important;
	}
	.forecast-day {
		width: auto !important;
		margin-bottom: 16px;
	}
	.forecast-day:last-of-type {
		margin-bottom: 0;
	}
	.mobile-column {
		flex-direction: column;
	}
	.forecast-wind, .forecast-rain, .forecast-direction-wind, .min-max-card {
		margin: 0 auto 10px;
		width: auto !important;
	}
	.forecast-rain {
		margin-bottom: 0;
	}
	.weatherforecast-now {
		text-align: center;
	}
	.box-min-max-capital {
		margin-right: 0 !important;
		margin-bottom: 0 !important;
	}
	.forecast-capital, .box-min-max-header {
		width: 100%;
		max-width: 200px;
		margin: 0 auto;
	}
	.box-min-max-capital:last-of-type {
		margin-top: 0 !important;
	}
	.box-min-max-capital .box-min-max-header:last-of-type  {
		display: none;
	}
}